.lop:hover{
background-color: #000;
}
.opacity{
    opacity:0.5 !important;
    cursor:unset !important
}
.left_tick{
    visibility:visible !important;
    z-index: 999;
    left: 72% !important;
    top: 7% !important;
}

.right_tick{
    visibility:visible !important;
     z-index: 999;
       left: 193%;
    top: 7%;
}

.font{
 font-weight: 700;
font-size: 18px
}
.black{
    color: black !important;
     font-weight: 500;
font-size: 16px;
margin-left: 30%;
}

.white{
    color:white !important;
     font-weight: 500;
font-size: 16px;
margin-left: 30%;
}

@media only screen and (max-width: 600px) {
    .capCon{
        margin-left:25px;
        align-items: flex-start;

    }
    .first_para{
    width: 100% !important;
    }
    .second_para{
            width: 100% !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .capCon{
        margin-left:25px;
        align-items: flex-start;
    }
     .first_para{
    width: 100% !important;
    }
    .second_para{
            width: 100% !important;
    }
}
@media only screen and (max-width: 590px) {
    .capCon{
        margin-left:25px;
        align-items: flex-start;
    }
     .first_para{
    width: 100% !important;
    }
    .second_para{
            width: 100% !important;
    }
}
@media only screen and (max-width: 450px) {
    .capCon{
        margin-left:25px;
        align-items: flex-start;

    }
    .first_para{
    width: 100% !important;
    }
    .second_para{
            width: 100% !important;
    }
}